.idea/
__pycache__/
iwitness-venv/
iWitness_env/
db.sqlite3
media_files/images/*.jpg
media_files/account_avatar/*jpg
#reports/migrations/*.py
#accounts/migrations/*.py
#witness/migrations/*.py
#officers/migrations/*.py
#media/migrations/*.py
#!reports/migrations/__init__.py
#!accounts/migrations/__init__.py
#!accounts/migrations/0001_initial.py
#!witness/migrations/__init__.py
#!officers/migrations/__init__.py
#!media/migrations/__init__.py
