<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NPF Iwitnez</title>
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <style>
        .main{
            text-align: center;
            position: absolute;
            top: 45%;
        }

        .top-right{
            text-align: end;
            padding: 20px;
            font-size: 120%;
        }
    </style>
</head>
<body>
    <div class="top-right">
        <a href="{% url 'privacy' %}">Privacy Policy</a>
    </div>

    <div class="container main">
        <h1>Welcome</h1>
    </div>
</body>
</html>