<!doctype html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
    <head>
        {% block title %} {{ first_name }} {{ last_name }} {% endblock %}
    </head>

    <body>
        {% block main_content %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">{{ report.title }}</h4>
                                    <p>{{ report.message }}</p>
                                    <p class="category">{{ report.location }}</p>
                                </div>
                                <div class="content">
                                    {% for media_url in media_urls %}
                                        <img src="{{ media_url }}" class="img-responsive" alt="media_file"/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
